*.pyc
__pycache__
math.tex
*adminsdk*.json

# Ignore the g2opy dependency
g2opy

# Ignore a virtual environment
venv

# Pycharm workspace configuration
.idea

# Map cache folder
**/.cache/

# Ignore video files
*.mp4

/optimization_weight_analysis/duncan_image_exports/
**/.ipynb_checkpoints/

/saved_sweeps/**/*sweep.*

*debug.txt

# Ignore rucha
*.rucha

.vscode/
.ruff_cache/

.env
.DS_Store

# Ignore output files
*output.png