body {
    margin: 5%
}
p {
    font-size: large
}
li {
    font-size: large
}
a {
    font-size: large
}
table {
    border-collapse: collapse;
    width: 100%;
  }
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}